@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7fcff;
    /*background-image: url("poduct bg.png");*/
    background-image: url("img/fondo_contact.jpg");
    background-size: cover;
}
.container
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .box
{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    background: #fff;
    box-shadow: 2px 2px 30px rgba(9, 8, 22, 0.2);
    border-radius: 20px;
}

.container .box .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
    transform: scale(0);
    transition-delay: 0s;
}

.container .box .imgBx img
{
    max-width: 100px;
}

.container .box .content
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    background: #025064;
    transform: scale(0);
    transition-delay: 0s;
    border-radius: 20px;
}

.container .box:hover .content
{
    transform: scale(1);
    transition-delay: 0.5s;
}

.container .box:nth-child(2) .content
{
    background: #2a2064;
}

.container .box:nth-child(3) .content
{
    background: #a51d4a;
}

.container .box .content .icono img
{
    max-width: 80px;
    filter: invert(1)
}

.container .box .content h3
{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.container .box .content h4
{
    color: #fff;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
}

.container .box .content h5
{
    color: #fff;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
}


/*Hagamos esto Responsive*/

@media(max-width: 991px)
{
    section
    {
        padding: 150px 20px;
    }

    header
    {
        padding: 20px;
    }

    .navigation
    {
        display: none;
    }

    .navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header ul li
    {
        margin: 10px;
    }

    header ul li a
    {
        font-size: 2.3em;
    }

    /* Boton de Menu */
    .toggle
    {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 100px;
        height: 100px;
        background: rgb(194, 9, 9) url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
        border-radius: 20px;
    }
    /* Boton de Cerrar*/
    .toggle.active
    {
        background: rgb(194, 9, 9) url(img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center; 
    }
}